## 0) Imports & Engine placeholder

Add the libraries you will use and wire the SQLAlchemy engine (recommended: `db_connection.py`).

In [3]:
# import needed libraries
from sqlalchemy import create_engine, text
from sqlalchemy.engine import Engine
import urllib.parse
import pandas as pd
from datetime import datetime, timedelta, date
from typing import Optional, Dict, List, Any
import getpass

Connecting to SQL using GETPASS

In [4]:
# Prompt for password securely
raw_password = getpass.getpass("Enter MySQL password: ")

# Connection parameters
schema = "lianes_library"
host = "127.0.0.1"
user = "root"
password = urllib.parse.quote_plus(raw_password)
port = 3306

# Create connection string and engine
connection_string = f"mysql+pymysql://{user}:{password}@{host}:{port}/{schema}"
engine = create_engine(connection_string)

def get_engine() -> Engine:
    """
    Return the configured database engine.
    
    Returns:
        Engine: SQLAlchemy engine instance for database operations
    """
    return engine

print("✓ Database connection configured successfully")

✓ Database connection configured successfully

In [5]:
# Accessing the database connection from db_connection module
schema = "lianes_library"
host = "127.0.0.1"
user = "root"
password = urllib.parse.quote_plus(raw_password)
port = 3306

connection_string = f"mysql+pymysql://{user}:{password}@{host}:{port}/{schema}"

engine = create_engine(connection_string)

def fetch_all_books(engine: Engine) -> pd.DataFrame:
    """Fetch all records from the books table."""
    query = text("SELECT * FROM books;")
    with engine.connect() as connection:
        result = connection.execute(query)
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
    return df

## Helper: get_engine()

Small abstraction to return the engine object. Move engine creation to `db_connection.py` in production.

In [6]:
def get_engine():
    """
    Return the configured SQLAlchemy engine.

    TODO:
    - If you moved engine creation to `db_connection`, import and return it here.
    - Keep this small helper to centralize access.
    """
    global engine
    if engine is None:
        raise RuntimeError("Database engine not configured. Create or import engine from db_connection.")
    return engine

In [7]:
get_engine()

Engine(mysql+pymysql://root:***@127.0.0.1:3306/lianes_library)

In [8]:
fetch_all_books(engine)

,book_id,ISBN,title,author,cost_book,book_status,author_id
0,1,0439358078,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,0.00,AVAILABLE,None
1,2,043965548X,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,0.00,AVAILABLE,None
2,3,0976540606,"Unauthorized Harry Potter Book Seven News: ""Ha...",W. Frederick Zimmerman,0.00,AVAILABLE,None
3,4,0517226952,The Ultimate Hitchhiker's Guide: Five Complete...,Douglas Adams,0.00,AVAILABLE,None
4,5,1400052920,The Hitchhiker's Guide to the Galaxy (Hitchhik...,Douglas Adams,0.00,AVAILABLE,None
...,...,...,...,...,...,...,...
5551,5552,9722330551,O Cavalo e o Seu Rapaz (As Crónicas de Nárnia ...,C.S. Lewis/Pauline Baynes/Ana Falcão Bastos,0.00,AVAILABLE,None
5552,5553,9722331329,A Viagem do Caminheiro da Alvorada (As Crónica...,C.S. Lewis/Pauline Baynes/Ana Falcão Bastos,0.00,AVAILABLE,None
5553,5554,0140231579,Whores for Gloria,William T. Vollmann,0.00,AVAILABLE,None
5554,5555,0140110879,You Bright and Risen Angels,William T. Vollmann,0.00,AVAILABLE,None
5555,5556,0060878827,Poor People,William T. Vollmann,0.00,AVAILABLE,None

## 1) CRUD – BOOKS (Catalog)

Example SQL schema (create table) for reference:

```sql
CREATE TABLE books (
    book_id     INT AUTO_INCREMENT PRIMARY KEY,
    ISBN        VARCHAR(20),
    title       VARCHAR(255) NOT NULL,
    author      VARCHAR(255),
    author_id   INT NULL,
    genre       VARCHAR(100),
    cost_book   DECIMAL(10,2),
    book_status ENUM('AVAILABLE','BORROWED','LOST','DAMAGED') DEFAULT 'AVAILABLE' NOT NULL,
    date_added  DATETIME DEFAULT CURRENT_TIMESTAMP
);
```

In [9]:
def create_book(title, author, isbn=None, cost=None):
    """
    Insert a new book into `books`.

    Steps (implement):
    1. Validate required fields (title).
    2. Build parameterized INSERT using `text()`.
    3. Open connection and `with conn.begin():` to execute transaction.
    4. Return the new record id or inserted row metadata.
    """
    # TODO: implement using SQLAlchemy text and transactions
    query = text("""
    INSERT INTO books (title, author, ISBN, cost_book, book_status)
    VALUES (:title, :author, :isbn, :cost, :status)
""")
    with get_engine().connect() as conn:
        transaction = conn.begin()
        try:
            conn.execute(query,
            {
                "title": title,
                "author": author,
                "isbn": isbn,
                "cost": cost,
                "status": "AVAILABLE"
            })
            transaction.commit()
            return f"Added book '{title}' by {author}."
        except Exception as e:  
            transaction.rollback()
            raise e
    pass

In [12]:
create_book("The Great Gatsby", "F. Scott Fitzgerald", "9780743273565", 10.99)

"Added book 'The Great Gatsby' by F. Scott Fitzgerald."

In [10]:
def get_books(title=None, author=None, genre=None, status=None, limit=100):
    """
    Retrieve books with optional filters.
    Implement:
    - Build base SQL: SELECT * FROM books WHERE 1=1
    - Append filters only if provided, using parameterized values (LIKE for title/author).
    - Return list of dicts or pandas.DataFrame.
    """
    # TODO: implement dynamic SQL building safely with text()
    query = "SELECT * FROM books WHERE 1=1"
    params = {}
    if title:
        query += " AND title LIKE :title"
        params["title"] = f"%{title}%"
    if author:
        query += " AND author LIKE :author"
        params["author"] = f"%{author}%"
    if genre:
        query += " AND genre = :genre"
        params["genre"] = genre
    if status:
        query += " AND status = :status"
        params["status"] = status
    query += " LIMIT :limit"
    params["limit"] = limit
    query = text(query)
    with get_engine().connect() as conn:
        result = conn.execute(query, params)
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
    return df

    pass

In [14]:
get_books(title="Gatsby")

,book_id,ISBN,title,author,cost_book,book_status
0,1,9780743273565,The Great Gatsby,F. Scott Fitzgerald,10.99,available

In [11]:
def get_book_by_id(book_id):
    """
    Get a single book by `book_id`.
    Return None if not found.
    """
    # TODO: SELECT * FROM books WHERE book_id = :book_id
    query = text("SELECT * FROM books WHERE book_id = :book_id")
    with get_engine().connect() as conn:
        result = conn.execute(query, {"book_id": book_id})
        row = result.fetchone()
        if row:
            return dict(row._mapping)
        else:
            return None
    pass

In [22]:
get_book_by_id(10)

{'book_id': 10,
 'ISBN': '0380727501',
 'title': 'Notes from a Small Island',
 'author': 'Bill Bryson',
 'cost_book': Decimal('0.00'),
 'book_status': 'borrowed'}

In [12]:
def update_book_details(book_id, title=None, author=None, isbn=None, genre=None, cost=None):
    """
    Update book metadata. Only update fields that are not None.
    Use a transaction and dynamic SET building.
    """
    # TODO: build SET dynamically and execute inside a transaction
    set_clauses = []
    params = {"book_id": book_id}
    if title is not None:
        set_clauses.append("title = :title")
        params[ "title"] = title
    if author is not None:
        set_clauses.append("author = :author")
        params["author"] = author
    if isbn is not None:
        set_clauses.append("isbn = :isbn")
        params["isbn"] = isbn
    if genre is not None:
        set_clauses.append("genre = :genre")
        params["genre"] = genre
    if cost is not None:
        set_clauses.append("cost_book = :cost")
        params["cost"] = cost
    if not set_clauses:
        raise ValueError("No fields to update.")
    set_clause = ", ".join(set_clauses)
    query = text(f"UPDATE books SET {set_clause} WHERE book_id = :book_id")
    with get_engine().connect() as conn:
        transaction = conn.begin()
        try:
            conn.execute(query, params)
            transaction.commit()
            return f"Updated book id {book_id}."
        except Exception as e:
            transaction.rollback()
            raise e
        
    pass

In [20]:
update_book_details(1, cost=11)

'Updated book id 1.'

In [27]:
get_book_by_id(10)

{'book_id': 10,
 'ISBN': '0380727501',
 'title': 'Notes from a Small Island',
 'author': 'Bill Bryson',
 'cost_book': Decimal('0.00'),
 'book_status': 'available'}

In [13]:
def update_book_status(book_id, new_status):
    """
    Update `book_status` — validate allowed values.
    Allowed: 'AVAILABLE','BORROWED','LOST','DAMAGED'
    """
    # TODO: validate new_status and perform UPDATE in a transaction
    allowed_statuses = {'AVAILABLE', 'BORROWED', 'LOST', 'DAMAGED'}
    if new_status not in allowed_statuses:
        raise ValueError(f"Invalid status '{new_status}'. Allowed statuses: {allowed_statuses}")
    query = text("UPDATE books SET book_status = :new_status WHERE book_id = :book_id")
    with get_engine().connect() as conn:
        transaction = conn.begin()
        try:
            conn.execute(query, {"new_status": new_status, "book_id": book_id})
            transaction.commit()
            return f"Updated status of book id {book_id} to '{new_status}'."
        except Exception as e:  
            transaction.rollback()
            raise e
    pass

In [26]:
update_book_status(1, 'AVAILABLE')

"Updated status of book id 1 to 'AVAILABLE'."

In [14]:
def delete_book(book_id):
    """
    Delete or logically remove a book.
    Rule: do NOT delete if book is currently BORROWED.
    Consider setting status = 'REMOVED' instead of hard delete.
    """
    # TODO: SELECT status, then conditional DELETE or UPDATE
    pass

## 2) CRUD – AUTHORS (Optional but recommended)

Reference schema:
```sql
CREATE TABLE authors (
    author_id INT AUTO_INCREMENT PRIMARY KEY,
    name      VARCHAR(255) NOT NULL
);
```

In [15]:
def create_author(name):
    """
    Insert new author. Optionally check duplicates.
    Return new author_id.
    """
    # TODO: check existing name and INSERT
    pass

def get_author_by_name(name):
    """
    Retrieve authors by partial or exact match.
    """
    # TODO
    pass

def get_author_by_id(author_id):
    """
    Retrieve a single author by id.
    """
    # TODO
    pass

def update_author(author_id, new_name):
    """
    Rename author.
    """
    # TODO
    pass

def delete_author(author_id):
    """
    Delete author with caution — ensure no books reference this author.
    """
    # TODO: check FK references before deleting
    pass

## 3) CRUD – BORROWERS (Users)

Reference schema:
```sql
CREATE TABLE borrowers (
    borrower_id INT AUTO_INCREMENT PRIMARY KEY,
    name        VARCHAR(255) NOT NULL,
    email       VARCHAR(255),
    phone       VARCHAR(50),
    address     VARCHAR(255),
    status      ENUM('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
    date_joined DATETIME DEFAULT CURRENT_TIMESTAMP
);
```

In [16]:
def create_borrower(name, email=None, phone=None, address=None):
    """
    Insert a new borrower. Default status = 'ACTIVE'.
    """
    # TODO: validate and INSERT
    pass

def get_borrower_by_id(borrower_id):
    """
    Retrieve borrower by id.
    """
    # TODO
    pass

def get_borrowers(name=None, status=None, limit=100):
    """
    List borrowers with optional filters.
    """
    # TODO
    pass

def update_borrower_contact(borrower_id, email=None, phone=None, address=None):
    """
    Update only provided contact fields.
    """
    # TODO
    pass

def set_borrower_status(borrower_id, new_status):
    """
    Set status to 'ACTIVE' or 'INACTIVE'.
    """
    # TODO: validate and UPDATE
    pass

def delete_borrower(borrower_id):
    """
    Logical delete recommended: set status = 'INACTIVE'.
    """
    # TODO
    pass

In [17]:
def create_borrower(first_name, last_name, email=None, phone_number=None, relationship_type=None, address=None):
    """
    CREATE:
    Insert a new borrower.
    Returns the inserted borrower row as dict.
    """
    if not first_name and not last_name:
        raise ValueError('Name is required for a borrower.')
    
    engine = get_engine()
    insert_sql = text("""
        INSERT INTO borrowers (first_name, last_name, email, phone_number, relationship_type, address)
        VALUES (:first_name, :last_name, :email, :phone_number, :relationship_type, :address)
    """)

    params = {
        "first_name": first_name,
        "last_name": last_name,
        "email": email,
        "phone_number": phone_number,
        "relationship_type": relationship_type,
        "address": address,
    }

    with engine.begin() as conn:
        result = conn.execute(insert_sql, params)
        # get the borrower_id generated by the database for new record:
        try:
            person_id = result.inserted_primary_key[0]
        except Exception:
            # if it's not working (MySQL):
            person_id = result.lastrowid
        
        row = conn.execute(
            text('SELECT * FROM borrowers WHERE person_id = :person_id'),
            {"person_id": person_id}
        ).mappings().one()

    # returning borrower record into a clean dict:
    return dict(row)

In [14]:
create_borrower('Kubra', 'Demirhan', "kubra@mail.com", '0123456789', "sister", "tubingen")

{'person_id': 1,
 'first_name': 'Kubra',
 'last_name': 'Demirhan',
 'relationship_type': 'sister',
 'phone_number': '0123456789',
 'email': 'kubra@mail.com',
 'address': 'tubingen'}

In [15]:
create_borrower('Vennel', 'Chenfoo', "vennel@mail.com", '932182312', "cousini", "hamburg")

{'person_id': 2,
 'first_name': 'Vennel',
 'last_name': 'Chenfoo',
 'relationship_type': 'cousini',
 'phone_number': '932182312',
 'email': 'vennel@mail.com',
 'address': 'hamburg'}

In [18]:

# Get Borrower By ID:
# SELECT * FROM borrowers WHERE borrower_id = ... => output dict OR None

def get_borrower_by_id(person_id):
    """
    READ (single):
    Get one borrower by id.
    Returns dict or None.
    """
    engine = get_engine()
    sql = text("SELECT * FROM borrowers WHERE person_id = :person_id")

    with engine.connect() as conn:
        row = conn.execute(sql, {"person_id": person_id}).mappings().one_or_none()

    return dict(row) if row is not None else None

In [18]:
get_borrower_by_id('1')

{'person_id': 1,
 'first_name': 'Kubra',
 'last_name': 'Demirhan',
 'relationship_type': 'sister',
 'phone_number': '0123456789',
 'email': 'kubra@mail.com',
 'address': 'tubingen'}

In [19]:
# Get Borrowers
# optional name LIKE '%...%', optional last_name = 'ACTIVE', 
# LIMIT :limit -> output list from dicts

def get_borrowers(first_name=None, last_name=None, limit=100):
    """
    READ (list):
    List borrowers with optional filters:
    - name: partial match (LIKE)
    - limit: max number of results
    Returns list[dict].
    """
    engine = get_engine()

    # Basic-Query
    query = "SELECT * FROM borrowers WHERE 1 = 1"
    params = {}

    if first_name: 
        query += " AND first_name LIKE :first_name"
        params["first_name"] = f"%{first_name}"

    if last_name:
        query += " AND last_name = :last_name"
        params["last_name"] = last_name

    query += " ORDER BY first_name DESC LIMIT :limit"
    params["limit"] = int(limit)

    sql = text(query)

    with engine.connect() as conn:
        row = conn.execute(sql, params).mappings().all()

    return [dict(r) for r in row]

In [57]:
get_borrowers('kubra')

[{'person_id': 1,
  'first_name': 'Kubra',
  'last_name': 'Demirhan',
  'relationship_type': 'sister',
  'phone_number': '0123456789',
  'email': 'kubra@mail.com',
  'address': 'tubingen'}]

In [20]:
# Update Borrower Contact
# update only fields that we pass (email, phone, address).
# If nothing is going to passed -> False.
# After the update row will be put back.

def update_borrower_contact(person_id, first_name=None, last_name=None, email=None, phone=None, address=None):
    """
    UPDATE (partial):
    Update only provided contact fields (first_name, last_name, email, phone, address).
    Returns updated borrower as a dict.
    """
    fields = []
    params = {"person_id": person_id}

    if first_name is not None:
        fields.append('first_name = :first_name')
        params['first_name'] = first_name

    if last_name is not None:
        fields.append('last_name :last_name')
        params['last_name'] = last_name

    if email is not None:
        fields.append("email = :email")
        params["email"] = email

    if phone is not None:
        fields.append("phone = :phone")
        params["phone"] = phone

    if address is not None:
        fields.append("address = :address")
        params["address"] = address

    if not fields:
        raise ValueError("No contact fields provided to update.")
    
    set_clause = ", ".join(fields)
    sql = text(f"UPDATE borrowers SET {set_clause} WHERE person_id = :person_id")

    engine = get_engine()
    with engine.begin() as conn:
        conn.execute(sql, params)
        row = conn.execute(text("SELECT * FROM borrowers WHERE person_id = :person_id"),{"person_id": person_id}).mappings().one()
    
    return dict(row)

In [63]:
update_borrower_contact('1', 'kübra')

{'person_id': 1,
 'first_name': 'kübra',
 'last_name': 'Demirhan',
 'relationship_type': 'sister',
 'phone_number': '0123456789',
 'email': 'kubra@mail.com',
 'address': 'tubingen'}

In [21]:
# Set Borrower Status
# validates that new_status in {ACTIVE, INACTIVE} is.
# -> update the fields and returns rows

def set_borrower_status(person_id, new_status):
    """
    UPDATE (status):
    Set status to 'ACTIVE' or 'INACTIVE'.
    Returns updated borrower dict.
    """
    allowed = {"ACTIVE", "INACTIVE"}
    if new_status not in allowed:
        raise ValueError(f"Invalid status '{new_status}'. Allowed: {allowed}")
    
    sql = text("""
        UPDATE borrowers
               SET status = :status
               WHERE person_id = :person_id
    """)

    engine = get_engine()
    with engine.begin() as conn:
        conn.execute(sql, {"status": new_status, "person_id": person_id})
        row = conn.execute(
            text(f"SELECT * FROM borrowers WITH person_id"),
            {"person_id": person_id}
        ).mappings().one()

    return dict(row)

In [22]:
# DELETE Borrower
# if: status = 'INACTIVE'
# by hard_delete=True -> 100% delet.

def delete_borrower(person_id=None, first_name=None, last_name=None):
    """
    DELETE:
    - Remove entry from borrowers and the entry to borrowers_archive.
    """
    engine = get_engine()

    query = "DELETE FROM borrowers WHERE 1 = 1"
    params = {}
    
    if person_id:
        query += " AND person_id LIKE :person_id"
        params["person_id"] = f"%{person_id}"
    
    if first_name:
        query += " AND first_name LIKE :first_name"
        params["first_name"] = f"%{first_name}"
    
    if last_name:
        query += " AND last_name = :last_name"
        params["last_name"] = last_name

    if not params:
        raise ValueError("Você deve passar pelo menos um filtro (person_id, first_name ou last_name).")
    
    sql = text(query)

    # engine.begin() abre transação e faz commit automático no final
    with engine.begin() as conn:
        result = conn.execute(sql, params)

    # rowcount = número de linhas afetadas pelo DELETE
    return result.rowcount

In [74]:
delete_borrower('2')

1

## 4) CRUD – LOANS (Lending transactions)

Reference schema:
```sql
CREATE TABLE loans (
    loan_id      INT AUTO_INCREMENT PRIMARY KEY,
    book_id      INT NOT NULL,
    borrower_id  INT NOT NULL,
    loan_date    DATE NOT NULL,
    due_date     DATE NOT NULL,
    return_date  DATE,
    status       ENUM('OPEN','RETURNED','OVERDUE') DEFAULT 'OPEN',
    FOREIGN KEY (book_id) REFERENCES books(book_id),
    FOREIGN KEY (borrower_id) REFERENCES borrowers(borrower_id)
);
```

In [23]:
def create_loan(book_id, borrower_id, loan_date, due_date):
    """
    Create loan only if:
    - book.book_status == 'AVAILABLE'
    - borrower.status == 'ACTIVE'

    Workflow (transactional):
    1. Validate book and borrower.
    2. INSERT into loans.
    3. UPDATE books SET book_status = 'BORROWED'.
    4. Commit on success; rollback on failure.
    """
    # TODO: implement validations and transactional insert/update
    pass

def get_active_loans():
    """
    Return loans where status = 'OPEN'.
    """
    # TODO
    pass

def get_overdue_loans(reference_date=None):
    """
    List loans where due_date < reference_date and status = 'OPEN'.
    """
    # TODO
    pass

def get_loan_history_for_borrower(borrower_id):
    """
    All loans for a borrower.
    """
    # TODO
    pass

def get_loan_history_for_book(book_id):
    """
    Loan history for a book.
    """
    # TODO
    pass

def close_loan(loan_id, return_date):
    """
    Mark loan as returned and set book back to AVAILABLE. Use a transaction.
    """
    # TODO: update loans and books inside a transaction
    pass

def mark_loan_as_overdue(loan_id):
    """
    Optionally mark loan as OVERDUE (for scheduled tasks).
    """
    # TODO
    pass

CREATE - Create New Loan (Checkout)

**Purpose:** Record a new book loan transaction.

**Business Logic:**
1. Validate book exists and is available
2. Validate borrower exists
3. Insert transaction record
4. Update book status to 'borrowed'
5. All in a single transaction (atomicity)

In [34]:
def create_loan(
    book_id: int,
    person_id: int,
    loan_date: Optional[date] = None,
    due_date: Optional[date] = None,
    loan_period_days: int = 14
) -> Dict[str, Any]:
    """
    CREATE a new loan transaction.
    
    Args:
        book_id: ID of the book to loan
        person_id: ID of the borrower
        loan_date: Date of loan (defaults to today)
        due_date: Return due date (calculated if not provided)
        loan_period_days: Default loan period (14 days)
    
    Returns:
        Dict with transaction details
    
    Raises:
        ValueError: If book unavailable or borrower doesn't exist
    """
    engine = get_engine()
    
    # Set default dates
    if loan_date is None:
        loan_date = date.today()
    if due_date is None:
        due_date = loan_date + timedelta(days=loan_period_days)
    
    # SQL queries
    check_book_sql = text("""
        SELECT book_id, title, book_status 
        FROM books 
        WHERE book_id = :book_id
    """)
    
    check_borrower_sql = text("""
        SELECT person_id, first_name, last_name 
        FROM borrowers 
        WHERE person_id = :person_id
    """)
    
    insert_transaction_sql = text("""
        INSERT INTO transactions (book_id, person_id, loan_date, due_date)
        VALUES (:book_id, :person_id, :loan_date, :due_date)
    """)
    
    update_book_status_sql = text("""
        UPDATE books 
        SET book_status = 'borrowed' 
        WHERE book_id = :book_id
    """)
    
    # Execute in transaction
    with engine.begin() as conn:
        # Step 1: Validate book exists and is available
        book = conn.execute(check_book_sql, {"book_id": book_id}).mappings().one_or_none()
        
        if book is None:
            raise ValueError(f"Book with ID {book_id} does not exist.")
        
        if book['book_status'].lower() != 'available':
            raise ValueError(f"Book '{book['title']}' is not available (status: {book['book_status']}).")
        
        # Step 2: Validate borrower exists
        borrower = conn.execute(check_borrower_sql, {"person_id": person_id}).mappings().one_or_none()
        
        if borrower is None:
            raise ValueError(f"Borrower with ID {person_id} does not exist.")
        
        # Step 3: Insert transaction
        result = conn.execute(insert_transaction_sql, {
            "book_id": book_id,
            "person_id": person_id,
            "loan_date": loan_date,
            "due_date": due_date
        })
        
        transaction_id = result.lastrowid
        
        # Step 4: Update book status
        conn.execute(update_book_status_sql, {"book_id": book_id})
    
    # Return transaction details
    return {
        "transaction_id": transaction_id,
        "book_id": book_id,
        "book_title": book['title'],
        "person_id": person_id,
        "borrower_name": f"{borrower['first_name']} {borrower['last_name']}",
        "loan_date": loan_date,
        "due_date": due_date,
        "status": "active"
    }

In [35]:
create_loan(
    book_id=10,  # Replace with valid book_id
    person_id=2  # Replace with valid person_id
)

{'transaction_id': 1,
 'book_id': 10,
 'book_title': 'Notes from a Small Island',
 'person_id': 2,
 'borrower_name': 'jeorge silva',
 'loan_date': datetime.date(2025, 11, 27),
 'due_date': datetime.date(2025, 12, 11),
 'status': 'active'}

In [36]:
get_book_by_id(10)

{'book_id': 10,
 'ISBN': '0380727501',
 'title': 'Notes from a Small Island',
 'author': 'Bill Bryson',
 'cost_book': Decimal('0.00'),
 'book_status': 'BORROWED',
 'author_id': None}

In [37]:
create_loan(
    book_id=10,  # Replace with valid book_id
    person_id=1  # Replace with valid person_id
)

ValueError: Book 'Notes from a Small Island' is not available (status: BORROWED).

In [28]:
create_loan(
    book_id=73,  # Replace with valid book_id
    person_id=2  # Replace with valid person_id
)

{'transaction_id': 2,
 'book_id': 73,
 'book_title': '100 Years of Lynchings',
 'person_id': 2,
 'borrower_name': 'jeorge silva',
 'loan_date': datetime.date(2025, 11, 27),
 'due_date': datetime.date(2025, 12, 11),
 'status': 'active'}

UPDATE - Process Book Return

**Purpose:** Record when a borrowed book is returned.

**Business Logic:**
1. Find the active loan for the book
2. Set actual_return_date
3. Update book status to 'available'
4. Calculate if return was late

In [38]:
def process_return(
    transaction_id: int,
    return_date: Optional[date] = None
) -> Dict[str, Any]:
    """
    UPDATE: Process a book return.
    
    Args:
        transaction_id: ID of the transaction to close
        return_date: Date of return (defaults to today)
    
    Returns:
        Dict with return details including late status
    
    Raises:
        ValueError: If transaction doesn't exist or already closed
    """
    engine = get_engine()
    
    if return_date is None:
        return_date = date.today()
    
    # SQL queries
    get_transaction_sql = text("""
        SELECT t.transaction_id, t.book_id, t.person_id, 
               t.loan_date, t.due_date, t.actual_return_date,
               b.title as book_title,
               br.first_name, br.last_name
        FROM transactions t
        JOIN books b ON t.book_id = b.book_id
        JOIN borrowers br ON t.person_id = br.person_id
        WHERE t.transaction_id = :transaction_id
    """)
    
    update_transaction_sql = text("""
        UPDATE transactions 
        SET actual_return_date = :return_date 
        WHERE transaction_id = :transaction_id
    """)
    
    update_book_status_sql = text("""
        UPDATE books 
        SET book_status = 'available' 
        WHERE book_id = :book_id
    """)
    
    # Execute in transaction
    with engine.begin() as conn:
        # Step 1: Get transaction details
        trans = conn.execute(
            get_transaction_sql, 
            {"transaction_id": transaction_id}
        ).mappings().one_or_none()
        
        if trans is None:
            raise ValueError(f"Transaction {transaction_id} does not exist.")
        
        if trans['actual_return_date'] is not None:
            raise ValueError(
                f"Transaction {transaction_id} already closed on {trans['actual_return_date']}."
            )
        
        # Step 2: Update transaction with return date
        conn.execute(update_transaction_sql, {
            "transaction_id": transaction_id,
            "return_date": return_date
        })
        
        # Step 3: Update book status to available
        conn.execute(update_book_status_sql, {"book_id": trans['book_id']})
    
    # Calculate if return was late
    is_late = return_date > trans['due_date']
    days_late = (return_date - trans['due_date']).days if is_late else 0
    
    return {
        "transaction_id": transaction_id,
        "book_id": trans['book_id'],
        "book_title": trans['book_title'],
        "borrower_name": f"{trans['first_name']} {trans['last_name']}",
        "loan_date": trans['loan_date'],
        "due_date": trans['due_date'],
        "return_date": return_date,
        "is_late": is_late,
        "days_late": days_late,
        "status": "returned"
    }

In [40]:
process_return(transaction_id=1  # Replace with actual transaction_id
)

{'transaction_id': 1,
 'book_id': 10,
 'book_title': 'Notes from a Small Island',
 'borrower_name': 'jeorge silva',
 'loan_date': datetime.date(2025, 11, 27),
 'due_date': datetime.date(2025, 12, 11),
 'return_date': datetime.date(2025, 11, 27),
 'is_late': False,
 'days_late': 0,
 'status': 'returned'}

READ - Query Functions

Multiple read functions for different use cases.

In [ ]:
def get_active_loans() -> pd.DataFrame:
    """
    READ: Get all currently active loans.
    
    Returns:
        DataFrame with active loan details
    """
    engine = get_engine()
    
    query = text("""
        SELECT 
            t.transaction_id,
            t.book_id,
            b.title as book_title,
            b.author,
            t.person_id,
            CONCAT(br.first_name, ' ', br.last_name) as borrower_name,
            t.loan_date,
            t.due_date,
            DATEDIFF(CURRENT_DATE, t.due_date) as days_overdue,
            CASE 
                WHEN CURRENT_DATE > t.due_date THEN 'overdue'
                ELSE 'active'
            END as status
        FROM transactions t
        JOIN books b ON t.book_id = b.book_id
        JOIN borrowers br ON t.person_id = br.person_id
        WHERE t.actual_return_date IS NULL
        ORDER BY t.due_date ASC
    """)
    
    with engine.connect() as conn:
        result = conn.execute(query)
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
    print(f"✓ Retrieved {len(df)} active loans.")
    return df

In [47]:
# Test: Get all active loans
get_active_loans()

✓ Retrieved 1 active loans.

,transaction_id,book_id,book_title,author,person_id,borrower_name,loan_date,due_date,days_overdue,status
0,2,73,100 Years of Lynchings,Ralph Ginzburg,2,jeorge silva,2025-11-27,2025-12-11,-14,active

In [49]:
def get_overdue_loans() -> pd.DataFrame:
    """
    READ: Get all overdue loans.
    
    Returns:
        DataFrame with overdue loan details
    """
    engine = get_engine()
    
    query = text("""
        SELECT 
            t.transaction_id,
            t.book_id,
            b.title as book_title,
            t.person_id,
            CONCAT(br.first_name, ' ', br.last_name) as borrower_name,
            br.email,
            br.phone_number,
            t.loan_date,
            t.due_date,
            DATEDIFF(CURRENT_DATE, t.due_date) as days_overdue
        FROM transactions t
        JOIN books b ON t.book_id = b.book_id
        JOIN borrowers br ON t.person_id = br.person_id
        WHERE t.actual_return_date IS NULL
          AND t.due_date < CURRENT_DATE
        ORDER BY days_overdue DESC
    """)
    
    with engine.connect() as conn:
        result = conn.execute(query)
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
    print(f"✓ Retrieved {len(df)} overdue loans.")
    return df

In [50]:
# Test: Get overdue loans
get_overdue_loans()

✓ Retrieved 0 overdue loans.

Empty DataFrame
Columns: [transaction_id, book_id, book_title, person_id, borrower_name, email, phone_number, loan_date, due_date, days_overdue]
Index: []

In [52]:
def get_loan_history_by_book(book_id: int) -> pd.DataFrame:
    """
    READ: Get complete loan history for a specific book.
    
    Args:
        book_id: ID of the book
    
    Returns:
        DataFrame with all loans for that book
    """
    engine = get_engine()
    
    query = text("""
        SELECT 
            t.transaction_id,
            t.person_id,
            CONCAT(br.first_name, ' ', br.last_name) as borrower_name,
            t.loan_date,
            t.due_date,
            t.actual_return_date,
            CASE 
                WHEN t.actual_return_date IS NULL THEN 'active'
                WHEN t.actual_return_date > t.due_date THEN 'returned_late'
                ELSE 'returned_on_time'
            END as status
        FROM transactions t
        JOIN borrowers br ON t.person_id = br.person_id
        WHERE t.book_id = :book_id
        ORDER BY t.loan_date DESC
    """)
    
    with engine.connect() as conn:
        result = conn.execute(query, {"book_id": book_id})
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
    print(f"Loan history for book 1: {len(df)} transactions")
    return df

In [53]:
# Test: Get loan history for a specific book
get_loan_history_by_book(book_id=35)

Loan history for book 1: 0 transactions

Empty DataFrame
Columns: [transaction_id, person_id, borrower_name, loan_date, due_date, actual_return_date, status]
Index: []

In [ ]:
def get_loan_history_by_borrower(person_id: int) -> pd.DataFrame:
    """
    READ: Get complete loan history for a specific borrower.
    
    Args:
        person_id: ID of the borrower
    
    Returns:
        DataFrame with all loans for that borrower
    """
    engine = get_engine()
    
    query = text("""
        SELECT 
            t.transaction_id,
            t.book_id,
            b.title as book_title,
            b.author,
            t.loan_date,
            t.due_date,
            t.actual_return_date,
            CASE 
                WHEN t.actual_return_date IS NULL THEN 'active'
                WHEN t.actual_return_date > t.due_date THEN 'returned_late'
                ELSE 'returned_on_time'
            END as status
        FROM transactions t
        JOIN books b ON t.book_id = b.book_id
        WHERE t.person_id = :person_id
        ORDER BY t.loan_date DESC
    """)
    
    with engine.connect() as conn:
        result = conn.execute(query, {"person_id": person_id})
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
    print(f"Loan history for borrower 1: {len(df)} transactions")
    return df

In [56]:
# Test: Get loan history for a specific borrower
get_loan_history_by_borrower(person_id=2)  # Replace with actual person_id

,transaction_id,book_id,book_title,author,loan_date,due_date,actual_return_date,status
0,1,10,Notes from a Small Island,Bill Bryson,2025-11-27,2025-12-11,2025-11-27,returned_on_time
1,2,73,100 Years of Lynchings,Ralph Ginzburg,2025-11-27,2025-12-11,None,active

## 5) Reports / Statistics

Read-only aggregated queries to provide insights.

In [ ]:
def get_most_borrowed_books(limit=10):
    """
    Return books ordered by total number of loans.
    See SQL hint in the blueprint.
    """
    # TODO: implement aggregation query and return results
    pass

def get_most_active_borrowers(limit=10):
    """
    Return borrowers ordered by how many loans they made.
    """
    # TODO
    pass

Dashboard Statistics

Functions to provide summary data for the Streamlit dashboard.

In [57]:
def get_dashboard_stats() -> Dict[str, Any]:
    """
    Get key statistics for dashboard display.
    
    Returns:
        Dict with counts and metrics
    """
    engine = get_engine()
    
    query = text("""
        SELECT 
            COUNT(DISTINCT CASE WHEN t.actual_return_date IS NULL THEN t.transaction_id END) as active_loans,
            COUNT(DISTINCT CASE WHEN t.actual_return_date IS NULL AND t.due_date < CURRENT_DATE THEN t.transaction_id END) as overdue_loans,
            COUNT(DISTINCT CASE WHEN b.book_status = 'available' THEN b.book_id END) as available_books,
            COUNT(DISTINCT CASE WHEN b.book_status = 'borrowed' THEN b.book_id END) as borrowed_books,
            COUNT(DISTINCT b.book_id) as total_books,
            COUNT(DISTINCT br.person_id) as total_borrowers
        FROM books b
        CROSS JOIN borrowers br
        LEFT JOIN transactions t ON b.book_id = t.book_id AND t.actual_return_date IS NULL
    """)
    
    with engine.connect() as conn:
        result = conn.execute(query).mappings().one()
    
    return dict(result)

In [58]:
get_dashboard_stats()

{'active_loans': 1,
 'overdue_loans': 0,
 'available_books': 5555,
 'borrowed_books': 1,
 'total_books': 5556,
 'total_borrowers': 2}

In [60]:
def get_most_borrowed_books(limit: int = 10) -> pd.DataFrame:
    """
    Get books with most loans.
    
    Args:
        limit: Number of top books to return
    
    Returns:
        DataFrame with book titles and loan counts
    """
    engine = get_engine()
    
    query = text("""
        SELECT 
            b.book_id,
            b.title,
            b.author,
            COUNT(t.transaction_id) as total_loans,
            COUNT(CASE WHEN t.actual_return_date IS NULL THEN 1 END) as currently_borrowed
        FROM books b
        LEFT JOIN transactions t ON b.book_id = t.book_id
        GROUP BY b.book_id, b.title, b.author
        ORDER BY total_loans DESC
        LIMIT :limit
    """)
    
    with engine.connect() as conn:
        result = conn.execute(query, {"limit": limit})
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
    
    return df

In [61]:
# Test: Get most borrowed books
get_most_borrowed_books(limit=5)

,book_id,title,author,total_loans,currently_borrowed
0,73,100 Years of Lynchings,Ralph Ginzburg,1,1
1,10,Notes from a Small Island,Bill Bryson,1,0
2,3,"Unauthorized Harry Potter Book Seven News: ""Ha...",W. Frederick Zimmerman,0,1
3,4,The Ultimate Hitchhiker's Guide: Five Complete...,Douglas Adams,0,1
4,5,The Hitchhiker's Guide to the Galaxy (Hitchhik...,Douglas Adams,0,1

In [62]:
def get_most_active_borrowers(limit: int = 10) -> pd.DataFrame:
    """
    Get borrowers with most loans.
    
    Args:
        limit: Number of top borrowers to return
    
    Returns:
        DataFrame with borrower names and loan counts
    """
    engine = get_engine()
    
    query = text("""
        SELECT 
            br.person_id,
            CONCAT(br.first_name, ' ', br.last_name) as borrower_name,
            br.relationship_type,
            COUNT(t.transaction_id) as total_loans,
            COUNT(CASE WHEN t.actual_return_date IS NULL THEN 1 END) as currently_borrowed,
            COUNT(CASE WHEN t.actual_return_date > t.due_date THEN 1 END) as late_returns
        FROM borrowers br
        LEFT JOIN transactions t ON br.person_id = t.person_id
        GROUP BY br.person_id, borrower_name, br.relationship_type
        ORDER BY total_loans DESC
        LIMIT :limit
    """)
    
    with engine.connect() as conn:
        result = conn.execute(query, {"limit": limit})
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
    
    return df

In [63]:
# Test: Get most active borrowers
get_most_active_borrowers(limit=5)

,person_id,borrower_name,relationship_type,total_loans,currently_borrowed,late_returns
0,2,jeorge silva,friend,2,1,0
1,1,jeorge silva,friend,0,1,0

## 6) Main program (for testing)

Implement a small test runner that exercises the CRUD functions step by step.
Suggested order in tests:
1. Verify DB connection.
2. create_book() → get_books()
3. create_borrower() → get_borrowers()
4. create_loan() and verify book status updated.
5. close_loan() and verify book returned.
6. get_overdue_loans() with a sample past date.

In [ ]:
def main():
    """
    Replace the `pass` implementations above first, then implement small manual tests here.

    Keep side effects minimal and use test records that can be safely removed.
    """
    # TODO: run a sequence of tests that exercise your CRUD operations
    
    pass

if __name__ == '__main__':
    main()

### Tips & next actions

- Implement functions incrementally and run the tests in `main()` after each change.
- Use `sqlalchemy.text()` with named parameters (avoid f-strings with direct interpolation of variables).
- Wrap multi-step operations (create loan + update book status) inside transactions using `with engine.begin() as conn:`.
- Add logging and error handling; return meaningful error messages on validation failures.
- Consider writing small unit tests for each function using pytest and a disposable test database.